* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "iconfont";
    /* Project id 2490708 */
    src: url('//at.alicdn.com/t/font_2490708_iz4a5bfi0x.woff2?t=1621480203637') format('woff2'), url('//at.alicdn.com/t/font_2490708_iz4a5bfi0x.woff?t=1621480203637') format('woff'), url('//at.alicdn.com/t/font_2490708_iz4a5bfi0x.ttf?t=1621480203637') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ic_refresh:before {
    content: "\e626";
}

.icon-Refresh1:before {
    content: "\e6c8";
}

.icon-refresh-:before {
    content: "\e668";
}

.myicon {
    position: absolute;
    right: 50px;
    top: 3px;
    font-size: 30px;
    cursor: pointer;
    color: #2571f0;
    transition: transform 2s;
}

.rotate {
    animation: rotate 1s ease-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}